# staging 环境配置文件
server:
  port: 8080
  servlet:
    context-path: /gamedata
spring:
  datasource:
    driverClassName: com.mysql.jdbc.Driver
    url: "jdbc:mysql://db-mysql-headless.db.svc.cluster.local:3306/game?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true&serverTimezone=GMT%2B8"
    username: "game"
    password: "game123"
    testOnBorrow: true
    testWhileIdle: true
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 30000
    validationQuery: SELECT 1
    max-active: 15
    max-idle: 10
    max-wait: 8000
  flyway:
    baseline-on-migrate: true
    enabled: true
    url: "jdbc:mysql://db-mysql-headless.db.svc.cluster.local:3306/game?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true&serverTimezone=GMT%2B8"
    schemas: game
    user: "game"
    password: "game123"
mybatis:
  mapper-locations: classpath:/mapper/*Mapper.xml