<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjg.game.mapper.GameUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sjg.game.entity.GameUser">
        <id column="id" property="id" />
        <result column="area_code" property="areaCode" />
        <result column="nickname" property="nickname" />
        <result column="openid" property="openid" />
        <result column="avator" property="avator" />
        <result column="phone" property="phone" />
        <result column="game_id" property="gameId" />
        <result column="device" property="device" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, area_code, nickname, openid, avator, phone, game_id, device, created_at, updated_at
    </sql>

    <select id="getUserByOpenId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from game_user where openid=#{openId}
    </select>

    <select id="getUserById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from game_user where id=#{userId}
    </select>

    <insert id="insertGameUser" parameterType="com.sjg.game.entity.GameUser">
        insert into game_user(id, area_code, nickname, openid, avator, phone, game_id, device, created_at, updated_at)
        values(#{id},#{areaCode},#{nickname},#{openid},#{avator},#{phone},#{gameId},#{device},#{createdAt},#{updatedAt})
    </insert>

    <update id="updateGameUser" parameterType="com.sjg.game.entity.GameUser">
        update game_user
        <set>
            <if test="areaCode != null">area_code=#{areaCode},</if>
            <if test="nickname != null">nickname=#{nickname},</if>
            <if test="avator != null">avator=#{avator},</if>
            <if test="phone != null">phone=#{phone},</if>
            <if test="gameId != null">game_id=#{gameId},</if>
            <if test="device != null">device=#{device},</if>
            <if test="updatedAt != null">updated_at=#{updatedAt},</if>
        </set>
        where id = #{id}
    </update>

    <select id="getUserByIds" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
            from game_user where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

</mapper>
